<div ng-include="model.templates.navHeader"></div>

<div class="container-fluid">
    <div class="alert-danger" ng-show="model.errorMsg">{{model.errorMsg}}</div>
    <div class="alert-success" ng-show="model.successMsg">{{model.successMsg}}</div>

    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" ng-model="model.poem.title" class="form-control" placeholder="Title"/>
    </div>
    <!-- TODO implement elastic library -->
    <textarea class="form-control" ng-model="model.poem.text" rows="15" placeholder="Write poem here"></textarea>
</div>

<div ng-include="model.templates.navFooter"></div>