/************************/
/*       Background     */
/************************/

.background {
    background: url("images/background_parchment.jpg") no-repeat left top fixed;
    background-size: cover;
    height: 100%;
    left: 0;
    opacity: 1;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

/************************/
/*    Misc. Components  */
/************************/

a.col-xs-push-12,
a.col-xs-pull-12 {
    position: sticky;
}

/************************/
/*        Nav Bar       */
/************************/
nav {
    background-color: rgb(248, 248, 248);
    max-height: 50px;
}

body {
    margin: 50px 0 50px 0;
    padding: 10px 0 10px 0;
}

nav > div {
    width: 100%;
}

nav a {
    height: 100%;
}

.navbar-default a:hover {
    background-color: rgb(197, 197, 197);
    color: rgb(0, 20, 81);
}

.navbar-inverse a:hover {
    color: rgb(153, 224, 255);
}

.aoa-navbar-page-name {
    color: rgb(255, 255, 255);
    left: 0;
    margin: 15px 0 15px 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: -1;
}

.aoa-navbar-item,
.aoa-navbar-left,
.aoa-navbar-right {
    padding: 15px 0 15px 0;
}

.aoa-navbar-item,
.aoa-navbar-left {
    float: left;
}

.aoa-navbar-right {
    float: right;
}

.navbar-fixed-bottom {
    text-align: center;
}

/************************/
/*      Overrides       */
/************************/

a:hover {
    text-decoration: none;
}

textarea {
    width: 100%;
}

.aoa-list-group > .list-group-item,
.aoa-list-group > .list-group-item:first-child,
.aoa-list-group > .list-group-item:last-child {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 4px;
    margin-bottom: 10px;
}

/************************/
/*      Utilities       */
/************************/
.aoa-padding-lr-none {
    padding-left: 0;
    padding-right: 0;
}

.aoa-padding-right-none {
    padding-right: 0;
}

.aoa-padding-left-none {
    padding-left: 0;
}

.aoa-padding-tb-none {
    padding-top: 0;
    padding-bottom: 0;
}

.aoa-padding-top-none {
    padding-top: 0;
}

.aoa-padding-bottom-none {
    padding-bottom: 0;
}