<!-- TODO bring out title, author, and text into separate template for use in translation, poem, and review -->
<div class="form-group">
    <label for="translationTitle">Translated Title</label>
    <input id="translationTitle"
           ng-model="model.translation.title"
           class="form-control"
           placeholder="Translated Title"
           ng-readonly="!model.translationEditFlag"
    />
</div>
<div class="form-group">
    <label>Translator</label>
    <div>
        <a href="#!/profile/{{model.translation.author._id}}">
            <i>{{model.translation.author.username}}</i>
        </a>
    </div>
</div>
<div class="form-group">
    <label for="translationText">Translated Text</label>
    <textarea id="translationText"
              class="form-control"
              ng-model="model.translation.text"
              rows="{{model.poem.lines.length}}"
              placeholder="Write translation here"
              ng-readonly="!model.translationEditFlag"
    >{{model.translation.text}}</textarea>
</div>