<div ng-include="model.templates.navHeader"></div>

<div class="container-fluid">
    <div class="alert-danger" ng-show="model.errorMsg">{{model.errorMsg}}</div>
    <div class="alert-success" ng-show="model.successMsg">{{model.successMsg}}</div>

    <div class="aoa-list-box-300 col-xs-12 col-sm-6">
        <!-- TODO utilize user info template here -->
        <form ng-if="model.profileEditFlag">
            <div class="form-group">
                <label for="username">Username</label>
                <input class="form-control"
                       id="username"
                       placeholder="Username"
                       ng-model="model.profile.username">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email"
                       class="form-control"
                       id="email"
                       placeholder="alice@wonderland.com"
                       ng-model="model.profile.emailAddress">
            </div>
            <div class="form-group">
                <label for="first-name">First Name</label>
                <input class="form-control"
                       id="first-name"
                       placeholder="Alice"
                       ng-model="model.profile.firstName">
            </div>
            <div class="form-group">
                <label for="last-name">Last Name</label>
                <input class="form-control"
                       id="last-name"
                       placeholder="Wonderland"
                       ng-model="model.profile.lastName">
            </div>
        </form>

        <form ng-if="!model.profileEditFlag">
            <div class="form-group">
                <label>Username</label>
                <div>{{model.profile.username}}</div>
            </div>
            <div class="form-group">
                <label>Email Address</label>
                <div>{{model.profile.emailAddress || "None Listed"}}</div>
            </div>
            <div class="form-group">
                <label>First Name</label>
                <div>{{model.profile.firstName || "None Listed"}}</div>
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <div>{{model.profile.lastName || "None Listed"}}</div>
            </div>
        </form>
    </div>

    <div class="aoa-list-box-300 col-xs-12 col-sm-6">
        <label>Favorite Poems</label>
        <!-- TODO reuse template_search_result_list_group.html even for this and move it out of search dir -->
        <ul class="list-group aoa-list-group">
            <li class="list-group-item row aoa-margin-lr-none" ng-repeat="favorite in model.favorites">
                <div class="col-xs-9">
                    <a href="#!/search/{{favorite.author}}/{{favorite.title}}">
                        <b>{{favorite.title}}</b>
                    </a>
                    <div>
                        <i>{{favorite.author}}</i>
                    </div>
                </div>
                <div class="col-xs-3">
                    <button ng-if="model.profileEditFlag"
                            class="btn btn-danger pull-right glyphicon glyphicon-remove"
                            ng-click="model.deleteFavorite(favorite._id)"
                    >
                    </button>
                </div>
            </li>
        </ul>
    </div>

    <div class="aoa-list-box-300 col-xs-12 col-sm-6">
        <label>Following</label>
        <!-- TODO need generic user list template to use here -->
        <ul class="list-group aoa-list-group">
            <li class="list-group-item row aoa-margin-lr-none" ng-repeat="follower in model.following">
                <div class="col-xs-9">
                    <a href="#!/profile/{{follower._id}}">{{follower.username}}</a>
                </div>
                <div class="col-xs-3">
                    <button ng-if="model.profileEditFlag"
                            class="btn btn-danger pull-right glyphicon glyphicon-remove"
                            ng-click="model.unFollowUser(follower._id)"
                    >
                    </button>
                </div>
            </li>
        </ul>
    </div>

    <div class="aoa-list-box-300 col-xs-12 col-sm-6">
        <label>Followed By</label>
        <!-- TODO need generic user list template to use here -->
        <ul class="list-group aoa-list-group">
            <li class="list-group-item" ng-repeat="follower in model.followers">
                <a href="#!/profile/{{follower._id}}">{{follower.username}}</a>
            </li>
        </ul>
    </div>

    <div class="aoa-list-box-300 col-xs-12 col-sm-6">
        <label>Penned Poems</label>
        <!-- TODO bring out into separate template perhaps again merging with template_search_result_list_group.html -->
        <ul class="list-group aoa-list-group">
            <li class="list-group-item" ng-repeat="poem in model.poems">
                <a href="#!/poem/{{poem._id}}">
                    <b>{{poem.title || "NO TITLE"}}</b>
                </a>
                <div ng-repeat="line in poem.lines | limitTo: model.maxLines track by $index">{{line}}</div>
                <span ng-if="poem.lines.length > model.maxLines">...</span>
            </li>
        </ul>
    </div>

    <div class="aoa-list-box-300 col-xs-12 col-sm-6">
        <label>Penned Translations</label>
        <!-- TODO bring out into separate template perhaps again merging with template_search_result_list_group.html -->
        <ul class="list-group aoa-list-group">
            <li class="list-group-item" ng-repeat="translation in model.translations">
                <a href="#!/poem/{{translation.originalPoem}}/translation/{{translation._id}}">
                    <b>{{translation.title || "NO TITLE"}}</b>
                </a>
                <div ng-repeat="line in translation.lines | limitTo: model.maxLines track by $index">{{line}}</div>
                <span ng-if="translation.lines.length > model.maxLines">...</span>
            </li>
        </ul>
    </div>

    <div ng-if="model.profileEditFlag" class="aoa-list-box-300 col-xs-12 col-sm-6">
        <label>Your Reviews</label>
        <ul class="list-group aoa-list-group">
            <li class="list-group-item row aoa-margin-lr-none" ng-repeat="review in model.reviews">
                <div class="col-xs-10">
                    <div>
                        <b>{{review._poem.title}}</b>
                    </div>
                    <div>
                        <i>{{review._poem.author.username}}</i>
                    </div>
                    <span class="alert-danger" ng-if="!review.text">Review Incomplete</span>
                    <span class="aoa-ellipsis">{{review.text}}</span>
                </div>
                <div class="col-xs-2">
                    <a href="#!/poem/{{review._poem._id}}/review/{{review._id}}"
                       class="btn btn-info glyphicon glyphicon-edit pull-right"
                    >
                    </a>
                </div>
            </li>
        </ul>
    </div>

    <div ng-if="model.adminFlag" class="col-xs-12">
        <a href="#!/admin" class="btn btn-block btn-danger">Admin Console</a>
    </div>
</div>

<div ng-include="model.templates.navFooter"></div>