<div ng-include="model.templates.navHeader"></div>

<!-- Profile -->
<div class="container-fluid">
    <div class="alert-danger" ng-show="model.errorMsg">{{model.errorMsg}}</div>
    <div class="alert-success" ng-show="model.successMsg">{{model.successMsg}}</div>
    <div ng-hide="!model.profile">
        <form>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text"
                       class="form-control"
                       id="username"
                       placeholder="Username"
                       ng-model="model.profile.username">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email"
                       class="form-control"
                       id="email"
                       placeholder="alice@wonderland.com"
                       ng-model="model.profile.emailAddress">
            </div>
            <div class="form-group">
                <label for="first-name">First Name</label>
                <input type="text"
                       class="form-control"
                       id="first-name"
                       placeholder="Alice"
                       ng-model="model.profile.firstName">
            </div>
            <div class="form-group">
                <label for="last-name">Last Name</label>
                <input type="text"
                       class="form-control"
                       id="last-name"
                       placeholder="Wonderland"
                       ng-model="model.profile.lastName">
            </div>
        </form>
    </div>

    <div>
        <label>Favorite Poems</label>
        <!-- TODO reuse template_search_result_list_group.html even for this and move it out of search dir -->
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="favorite in model.favorites">
                <div><b>{{favorite.title}}</b></div>
                <div><i>{{favorite.author}}</i></div>
                <a href="#!/search/{{favorite.author}}/{{favorite.title}}">Go to Poem</a>
                <br/>
                <a class="alert-danger" ng-click="model.unFavoritePoem(favorite._id)">Remove from Favorites</a>
            </li>
        </ul>
    </div>

    <div>
        <label>Following</label>
        <!-- TODO need generic user list template to use here -->
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="follower in model.followers">
                <div class="container-fluid aoa-padding-lr-none">
                    <a href="#!/profile/{{follower._id}}">{{follower.username}}</a>
                    <a class="btn btn-danger pull-right" ng-click="model.unFollowUser(follower._id)">Unfollow</a>
                </div>
            </li>
        </ul>
    </div>

    <div>
        <label>Penned Poems</label>
        <!-- TODO bring out into separate template perhaps again merging with template_search_result_list_group.html -->
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="poem in model.poems">
                <div><b>{{poem.title || ""}}</b></div>
                <div ng-repeat="line in poem.lines | limitTo: model.maxLines track by $index">{{line}}</div>
                <div ng-if="poem.lines.length > model.maxLines">...</div>
                <div>{{poem.lines.length}}</div>
                <a ng-if="model.maxLines" href="#!/poem/{{poem._id}}">Edit poem</a>
                <br/>
            </li>
        </ul>
    </div>

    <a class="btn btn-success btn-block" href="#!/poem">Pen New Poem</a>
    <a class="btn btn-warning btn-block" href="#!/search">To Search Page</a>
</div>

<div ng-include="model.templates.navFooter"></div>