<div ng-include="model.templates.navHeader"></div>

<!-- Profile -->
<div class="container-fluid">
    <div ng-hide="!model.profile">
        <span><b>Username</b></span>
        <div>{{model.profile.username}}</div>

        <label>Email Address</label>
        <div>{{model.profile.emailAddress || "None Listed"}}</div>

        <label>First Name</label>
        <div>{{model.profile.firstName || "None Listed"}}</div>

        <label>Last Name</label>
        <div>{{model.profile.lastName || "None Listed"}}</div>
    </div>

    <div>
        <label>Favorite Poems</label>
        <!-- TODO reuse template_search_result_list_group.html even for this and move it out of search dir -->
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="favorite in model.favorites">
                <div><b>{{favorite.title}}</b></div>
                <div><i>{{favorite.author}}</i></div>
                <a href="#!/search/{{favorite.author}}/{{favorite.title}}">Go to Poem</a>
                <br/>
            </li>
        </ul>
    </div>

    <div>
        <label>Followed By</label>
        <!-- TODO need generic user list template to use here -->
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="follower in model.followers">
                <a href="#!/profile/{{follower._id}}">{{follower.username}}</a>
            </li>
        </ul>
    </div>

    <div>
        <label>Penned Poems</label>
        <!-- TODO bring out into separate template perhaps again merging with template_search_result_list_group.html -->
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="poem in model.poems">
                <div><b>{{poem.title || ""}}</b></div>
                <a href="#!/profile/{{poem.author._id}}">
                    <i>{{poem.author.username}}</i>
                </a>
                <div ng-repeat="line in poem.lines | limitTo: model.maxLines track by $index">{{line}}</div>
                <div ng-if="poem.lines.length > model.maxLines">...</div>
                <div>{{poem.lines.length}}</div>
                <a ng-if="model.maxLines" href="#!/poem/{{poem._id}}">Go to Poem</a>
                <br/>
            </li>
        </ul>
    </div>

    <div>
        <label>Penned Translations</label>
        <!-- TODO bring out into separate template perhaps again merging with template_search_result_list_group.html -->
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="translation in model.translations">
                <div><b>{{translation.title || ""}}</b></div>
                <a href="#!/profile/{{translation.author._id}}">
                    <i>{{translation.author.username}}</i>
                </a>
                <div ng-repeat="line in translation.lines | limitTo: model.maxLines track by $index">{{line}}</div>
                <div ng-if="translation.lines.length > model.maxLines">...</div>
                <div>{{translation.lines.length}}</div>
                <a href="#!/poem/{{translation.originalPoem}}/translation/{{translation._id}}">Go to Translation</a>
                <br/>
            </li>
        </ul>
    </div>
</div>

<div ng-include="model.templates.navFooter"></div>